body {
    font-family: "Playfair Display", serif;

}


.header {
    padding: 20px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: transparent;

    &_logo {
        width: 60px;
    }

    &_logo img {
        width: 100%;
    }

    &_nav {

        &_list {
            display: flex;
            gap: 30px;
            align-items: center;
            font-size: 20px;
        }
    }
}

.main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}




.screen1 {
    background-color: #fefaf6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

    &_content {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    &_ilustration {
        width: 50vw;
    }

    &_ilustration img {
        width: 100%;
    }

}

.screen2 {
    background-color: #f0dfce;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

    &_content {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    &_ilustration {
        width: 50vw;
    }

    &_ilustration img {
        width: 100%;
    }


}